<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>201295479508-bvu7i16p392nj52u314sk832eufibra0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.201295479508-bvu7i16p392nj52u314sk832eufibra0</string>
	<key>API_KEY</key>
	<string>AIzaSyAv9zKp9BrcjzQ-uP0YPceR1BGq2Ohks9I</string>
	<key>GCM_SENDER_ID</key>
	<string>201295479508</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.authRouteTest</string>
	<key>PROJECT_ID</key>
	<string>fir-project-df150</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-project-df150.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:201295479508:ios:5c9506734dd1a35159b141</string>
</dict>
</plist>